#
# ===========================================================
# MusicCenter
# -----------------------------------------------------------
# Python Dependencies
#
# Version : 0.2
# ===========================================================
#

# Web Framework
Flask==3.1.0

# HTTP Client (Airsonic API)
requests==2.32.3

# Production Server
gunicorn==23.0.0
