{% from "components/macros.html" import icon %}
<aside class="sidebar">

    <div class="logo">
        <div class="logo-icon">{{ icon('gasmask') }}</div>
        <div class="logo-text">MusicCenter</div>
    </div>

    <nav class="menu">

        <a href="/" class="{{ 'active' if active_page == 'home' else '' }}">
            {{ icon('home') }}<span class="label">Главная</span>
        </a>

        <a href="/albums" class="{{ 'active' if active_page == 'albums' else '' }}">
            {{ icon('disc') }}<span class="label">Альбомы</span>
        </a>

        <a href="/artists" class="{{ 'active' if active_page == 'artists' else '' }}">
            {{ icon('mic') }}<span class="label">Исполнители</span>
        </a>

        <a href="/search" class="{{ 'active' if active_page == 'search' else '' }}">
            {{ icon('search') }}<span class="label">Поиск</span>
        </a>

        <a href="/playlists" class="{{ 'active' if active_page == 'playlists' else '' }}">
            {{ icon('playlist') }}<span class="label">Плейлисты</span>
        </a>

        <a href="/favorites" class="{{ 'active' if active_page == 'favorites' else '' }}">
            {{ icon('star') }}<span class="label">Избранное</span>
        </a>

    </nav>

</aside>
